@import "tailwindcss";

html, body, #root {
    height: 100%
}

li.selected {
    background-color: gray;
}

li:hover {
    background-color: lightgray;
}

svg {
    display: inline;
}

.editable {
    background-color:lightgray;
}
.editable1 {
    display:flex;
    field-sizing: content;

    background-color: yellow;
}

.numerator {
    display: inline-block;
    min-width: 20px;
    min-height:20px;
    /*border-width: 1px;*/
        
        /*background-color: lightgray;*/
        
}

.fraction {
    display: inline-block;
    text-align: center;
}

.fraction,
.top,
.bottom,
.middle {
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
}

.bottom {
    border-top: 1px solid black;
    display: block;
}
.tail {
    white-space: nowrap;
}