@import "tailwindcss";

html, body, #root {
    height: 100%
}

li.selected {
    background-color: gray;
}

li:hover {
    background-color: lightgray;
}

svg {
    display: inline;
}

.editable {
    background-color:lightgray;
}
.editable1 {
    display:flex;
    field-sizing: content;

    background-color: yellow;
}

.numerator {
    display: inline-block;
    min-width: 50px;
    border-width: 1px;
}